body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

:root {
  --header-color: #ffa500;
  --bg-color: #d18700;
  --primary-color: #e3ae09;
  --secondary-color: #a36a00;
  --dark-color: #754c00;
  --hover-color: #ffc55c;
}

.footer {
  background-color: var(--bg-color);
  width: 100%;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}
